/*background*/
body {
        background-image: url('background.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 105%;

    }


/*row column responsive*/
*{
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.header {

  padding: 10px 16px;
  background: #2e004d;
  color: #f1f1f1;
  font-family: cursive;


}

/*.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}*/

.Ffooter {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #2e004d;
   color: whitesmoke;
   text-align: center;
   font-family: cursive;
}

.menu ul 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #33b5e5;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu li:hover {
  background-color: #0099cc;
}

.aside {
  background-color: #ebccff;
  padding: 15px;
  color: black;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  font-family: cursive;
}

.Aaside {
  background-color: #ebccff;
  padding: 15px;
  color: black;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  font-family: cursive;
}


/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 80%;}
  .col-s-10 {width: 100%;}
  .col-s-9 {width: 75%;}
  
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 80%;}
  .col-10 {width: 100%;}
  .col-9 {width: 75%;}
  
}
/*end*/

      table {
        width:80%;}
        table, th,td {border:1px solid white;
        border-collapse: collapse;}
        th,td{
        padding: 20px;
        text-align: center;
        background: #d9d9d9;        
        };

    .text-danger {
        color: red;
      }

    .text-success {
        color: green;
      }

    .error-msg {
        color: red;
      }

     .content{
          background: #d9d9d9;
          width: 97%;
          padding: 50px;
          font-family: calibri;
     }

     .content2{
          background: #d9d9d9;
          width: 35%;
          padding: 40px;
          margin: 100px auto;
          font-family: calibri;
     }


/*
buttons hover*/
   a:link, a:visited, input[type=submit], input[type=button], input[type=reset] 
    {
      background-color:#2e004d;
      color: whitesmoke;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-family: cursive;
    }

   a:hover, a:active 
   {
      background-color:  #4c0080;
   }

   .username {
      font-weight: 900;
      margin-right: 20px;
   }


       